.home-guaviare {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: aparecer 8s;
}

.home-guaviare-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  div{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:nth-child(1){
    background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713362401/assets/caqueta/home/caqueta_ui4iiq.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    a{
      transform: translate(0, 5vh);
    }
  }

  div:nth-child(2){
    background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713362604/assets/cauca/home/cauca_wngqm3.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    a{
      transform: translate(0, -5vh);
    }
  }

  a {
    font-size: 4.2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    font-family: "chinese", sans-serif;
    font-optical-sizing: auto;
    font-weight: 14px;
    font-style: normal;
    color: #fff;
    &&:hover {
      filter: saturate(2);
    }
  }
}
