.cierre-relatos {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713447233/assets/guaviare/cierre/loop-guaviare-cierre_ejt9fz.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.cierre-titulo {
  margin-top: 50vh;
  text-align: center;
  opacity: 0;
  animation: aparecer-desaparecer 8s ease-in 3s forwards;

  h2 {
    font-size: 1.3rem;
  }
}

.cierre-extra {
  position: absolute;
  left: 0;
  top: 0;
  height: 60vh;
  width: 100%;
  margin-top: 20vh;
  opacity: 0;
  visibility: hidden;

  animation: aparecer 8s ease-in 14s forwards;

  h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: center;
  }

  div {
    text-align: center;
  }

  img {
    width: 60%;
    max-width: 400px;
    margin-top: 4vh;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid rgb(235, 235, 235);
    padding: 8px;
  }
}

.youtube-animacion {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: black;
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713230337/assets/guaviare/cierre/animacion_iwn7lp.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 22;
  overflow: hidden;
}

.youtube-animacion-interior {
  position: relative;

  div:first-child {
    text-align: center;
    margin-top: 40vh;
    height: 10vh;

    p {
      font-size: 1rem;
    }

    img {
      width: 80px;
      cursor: pointer;
      transition: 0.5s;

      &&:hover {
        transform: scale(1.05);
      }
    }
  }

  div:nth-child(2) {
    text-align: center;
    margin-top: 8vh;

    h3 {
      text-align: center;
    }
  }
}

.youtube-animacion-interior-salida{
    position: absolute;
    right: 0;
    top:0;
    width: 60px;
    cursor: pointer;
}

.cierre-animacion-frase{
  margin-top: 2vh;
  max-width: 800px;
  padding: 0 5%;

  p{
    font-size: 1rem;
  }
} 

.cierre-continuar{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15vh;
  width: 100%;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .cierre-continuar{
    height: 25vh;
  }
}

