.video-cauca-cierre {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;  

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 1;
    visibility: hidden;
  }
}

