.grima-f3 {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1718073723/cauca/grima/Fotograma-Loop-Grima_v6vcaf.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.grima-f3-video {
  position: absolute;
  z-index: 5;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 1;
  }
}

.grima-f3-interior {
  position: relative;
  width: 100%;
}

.grima-f3-audio-contenedor1 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 18vh;
  cursor: pointer;
  z-index: 300;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: aparecer 3s ease-in-out 1s forwards;
}

@media screen and (orientation: portrait) {
  .grima-f3-audio-contenedor1 {
    top: 12vh;
  }
}

.grima-f3-audio-contenedor2 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 55vh;
  cursor: pointer;
  z-index: 300;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: aparecer 3s ease-in-out 1s forwards;
}



@media screen and (orientation: portrait) {
  .grima-f3-audio-contenedor2 {
    top: 52vh;
  }
}
