.grima-f4 {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1718074819/cauca/grima/Grima-nin%CC%83as_dsir3s.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: fadeIn 4s;
}

.grima-f4-interior{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grima-f4-grafica{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;

  img{
    height: 85%;
    transform: translate(0, 3vh);
  }

}

.grima-f4-play{
  height: 18vh;
  img{
    width:120px;
    cursor: pointer;
  }
}

.grima-f4-frase{
  margin-top: 4vh;
  text-align: center;
  padding: 0 2vw;

  h3{
    font-size: 1.4rem;
  }

  h4{
    margin-top: 10px;
    transform: translate(12vw, 0);
  }
}