.dayana-youtube{
    background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713230390/assets/guaviare/dayana/fondo-video1_clgkql.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

