.jorge-bio{
    height: 100vh !important;
    width: 100vw;
    overflow: hidden;
    background-color: aquamarine;
}

.jorge-bio-p1{
    animation: aparecer 4s;
}

.jorge-bio-p1-des{
    animation: desaparecer 1s forwards;
}

