.jorge-youtube{
    background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713230303/assets/guaviare/jorge/fondo-video_gpfnkz.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

