.caceria-f1 {
  /* background: url("../../../assets/guaviare/caceria/fondo-caceria.jpg"); */
  width: 100%;
  height: 100%;


  .caceria-f1-fondo {
    background: url("../../../assets/guaviare/caceria/fondo-caceria.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    animation: mymove 50s linear infinite alternate;
  }

  .caceria-f1-top {
    height: 30vh;
    width: 100%;

    img {
      width: 50vw;
      transform: rotate(80deg);
      margin-top: 8vh;
      max-width: 200px;
    }
  }

  .caceria-f1-titulo {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;

    h1 {
      text-align: left;
      width: 70%;
      margin: auto;
      color: #00a397;
      font-size: 2.2rem;
    }

    hr {
      background-color: #00a397;
      height: 6px;
      width: 40%;
      border: none;
      margin-left: 15vw;
    }

    @media screen and (orientation: landscape) {
      h1 {
        text-align: center;
        width: 70%;
        margin: auto;
        color: #00a397;
        font-size: 2.5rem;
      }

      hr {
        background-color: #00a397;
        height: 6px;
        width: 60%;
        border: none;
        margin: -20px auto 0;
      }
    }
  }

  .caceria-f1-bottom {
    position: relative;
    height: 50vh;
    width: 100%;
    text-align: center;
  }

  .danta {
    width: 40vw;
    max-width: 300px;
  }

  .hoja-b {
    position: absolute;
    width: 40vw;
    top: 80px;
    right: -10px;
    max-width: 200px;
  }
}

@keyframes mymove {
  0% {
    transform: scale(1, 1) translate(0px,0px)
  }
  50% {
    transform: scale(1.3, 1.3) translate(-50px,40px);
  }
  100% {
    transform: scale(1.6, 1.6) translate(50px,-40px);
  }
}
