.caceria-f3 {
  width: 100%;
  height: 100%;

  .caceria-f3-fondo {
    position: absolute;
    background-color: rgb(0, 0, 0);
    background-image: url("../../../assets/guaviare/caceria/guaviare-arte-sonoro.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: caceriaF3 120s linear infinite;
  }

}

.caceria-f3-interior{
  position: relative;
  opacity: 0;
  animation: aparecer 3s ease-in-out forwards;
}

.caceria-f3-ilustraciones {
  position: absolute;
  left: 0px;
  top: 3vh;
  cursor: pointer;
  z-index: 300;
  text-align: center;
  width: 100%;
  height: 23vh;

  img:first-child {
    left: 20%;
    position: absolute;
    width: 40%;
    max-width: 150px;
    bottom: -20px;
  }

  img:nth-child(2) {
    position: absolute;
    left: 42%;
    bottom: -40px;
    width: 35%;
    max-width: 250px;
  }
}

.caceria-f3-audio-contenedor {
  position: absolute;
  left: 0px;
  top: 32vh;
  cursor: pointer;
  z-index: 300;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caceria-f3-p {
  position: absolute;
  text-align: center;
  font-size: 0.9rem;
  left: 10%;
  top: 48vh;
  width: 80%;
  margin: auto;
  opacity: 0;
  animation: aparecer 4s ease-out 2s forwards;
}

@media screen and (orientation: landscape) {
  .caceria-f3-ilustraciones {
    top:8vh;
  }

  .caceria-f3-audio-contenedor {
    top: 35vh;
  }

  .caceria-f3-p {
    top: 52vh;
    font-size: 1rem;
  }
}



@keyframes caceriaF3 {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }
  50% {
    transform: scale(1.1, 1.1) translate(-80px, 5px);
  }
  80% {
    transform: scale(1.3, 1.3) translate(-80px, -30px);
  }
  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
