.caceria-f1 {
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: aparecer 1s ease-in forwards;
}

.caceria-f1-fondo {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713230357/assets/guaviare/caceria/fondo-caceria_vpkj9a.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  animation: caceriaF1 50s linear infinite alternate;
}

.caceria-f1-contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.caceria-f1-top {
  width: 100%;
  height: 30vh;
  position: relative;

  img {
    position: absolute;
    width: 60%;
    transform: rotate(80deg);
    max-width: 240px;
    bottom: -10%;
    left: -10%;
  }
}

.caceria-f1-titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 0 5%;

  h2 {
    text-align: left;
    width: 100%;
    color: #00a397;
    font-weight: 100;
    margin-bottom: 16px;
    font-size: 2.2rem;
  }

  hr {
    background-color: #00a397;
    height: 6px;
    width: 150px;
    border: none;
  }

  @media screen and (orientation: landscape) {
    h2 {
      font-size: 2.4rem;
      width: 60%;
    }
  }

  @media (min-width: 1600px) {
    h2 {
      font-size: 3.6rem;
      width: 100%;
    }
  }
}

.caceria-f1-bottom {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

.danta {
  width: 40vw;
  max-width: 200px;
}

.hoja-b {
  position: absolute;
  width: 40%;
  top: 80px;
  right: -14px;
  max-width: 140px;
}

@keyframes caceriaF1 {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }
  50% {
    transform: scale(1.3, 1.3) translate(-50px, 40px);
  }
  100% {
    transform: scale(1.6, 1.6) translate(50px, -40px);
  }
}
