.vivir-f4 {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1718200044/cauca/vivir/Leonilde-riendo_rqjjrv.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  animation: mymove 420s linear infinite alternate;
}

.vivir-f4-interior {
  position: relative;
  width: 100%;
}

.vivir-f4-audio-contenedor {
  position: absolute;
  left: 0px;
  top: 48vh;
  cursor: pointer;
  z-index: 300;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vivir-f4-p {
  position: absolute;
  text-align: center;
  font-size: 0.9rem;
  left: 5%;
  top: 62vh;
  width: 95%;
  margin: auto;
  opacity: 0;
  animation: aparecer 4s ease-out 2s forwards;
}

@media screen and (orientation: landscape) {
  .vivir-f4-audio-contenedor {
    top: 52vh;
  }

  .vivir-f4-p {
    padding: 0 10%;
    font-size: 1.1rem;
  }
}
