.creditos {
  display: flex;
  align-items: center;
  padding-top: 4vh;
  flex-direction: column;
  width: 100vw;
  height: 100vh;  
}

@media screen and (orientation: landscape) {
  .creditos {
    padding-top: 14vh;
  }
}

.creditos-img {
  text-align: center;
  img {
    width: 85%;
    max-width: 350px;
  }
}

.creditos-btn {
  padding: 15px 0;
  width: 100%;
  text-align: center;

  hr {
    background-color: #d9dad0;
    width: 80%;
    max-width: 200px;
    margin: auto;
  }

  button {
    font-family: "Roboto Slab";
    color: #d9dad0;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
    margin-top: 2vh;

    &&:hover {
      color: rgb(95, 185, 238);
    }

    a {
      text-decoration: none;
      color: #d9dad0;

      &&:hover {
        color: rgb(95, 185, 238);
      }
    }
  }
}

.creditos-interior {
  width: 80vw;
  max-width: 800px;
  height: 55vh;
  overflow: scroll;
  color: #333;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  transform: translate(0, -14vh);
}

.creditos-interior {
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 #f0f0f0;
}

/* Define the scrollbar track */
.creditos-interior::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Define the scrollbar handle */
.creditos-interior::-webkit-scrollbar-thumb {
  background-color: #b3b3b3; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners */
}

/* Change scrollbar handle on hover */
.creditos-interior::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* Define the scrollbar track on the right side */
.creditos-interior::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color of the scrollbar track */
}

/* Define the scrollbar handle on the right side */
.creditos-interior::-webkit-scrollbar-thumb:vertical {
  background-color: #b3b3b3;
}

/* Define the scrollbar track on the left side */
.creditos-interior::-webkit-scrollbar-track:vertical {
  background: #f0f0f0;
}

/* Define the scrollbar handle on the left side */
.creditos-interior::-webkit-scrollbar-thumb:horizontal {
  background-color: #b3b3b3;
}

/* Define the scrollbar track on the left side */
.creditos-interior::-webkit-scrollbar-track:horizontal {
  background: #f0f0f0;
}

.creditos-interior-contenido {
  width: 100%;
  height: 45vh;
  padding: 15px 15px 40px 0px;
  overflow: scroll;

  p {
    color: #c9c9c9;
    text-align: center;
    margin-bottom: 30px;
  }
}

.creditos-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 30px;

  img {
    width: 15%;
    min-width: 120px;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: 0 10px;
  }
}

.creditos-cerrar {
  text-align: center;
  padding-bottom: 60px;

  span {
    color: #c9c9c9;
    border: 1px solid #c9c9c9;
    padding: 1px 17px 3px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;

    &&:hover {
      color: rgb(95, 185, 238);
    }
  }
}
