.insertoB1 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716397071/caqueta/insertosB/caqueta-inserto-b-1_ysmxv7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.insertoB1-logo {
  width: 100%;
  text-align: center;
  margin-top: 10vh;

  img {
    width: 70%;
    max-width: 320px;
  }
}

.insertoB1-audio {
  width: 100% !important;
  position: relative;
  margin-top: 10vh;
}

.insertoB2 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716397070/caqueta/insertosB/caqueta-inserto-b-2_ambfjl.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.insertoB2-interior {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.insertoB2-logo {
  width: 100%;
  text-align: center;

  img {
    width: 70%;
    max-width: 320px;
    transform: translate(0, -6vh);
  }
}

.insertoB2-img {
  text-align: center;

  img {
    width: 45%;
    max-width: 400px;
    transform: translate(0, -10vh);
  }
}

.insertoB2-play {
  img {
    width: 100px;
    transform: translate(0, -4vh);
  }
}

.insertoB2-frase {
  margin-top: 0vh;
  text-align: center;
  width: 80%;

  h3 {
    text-align: center;
    font-size: 1.1rem;
  }

  h4 {
    margin-top: 14px;
    text-align: center;
  }
}

.insertoB3 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716397071/caqueta/insertosB/caqueta-inserto-b-3_tsu9ro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.insertoB-logo {
  width: 100%;
  text-align: center;
  margin-top: 12vh;

  img {
    width: 70%;
    max-width: 320px;
  }
}

.insertoB-audio {
  width: 100% !important;
  position: relative;
  margin-top: 5vh;
}
