.carlos-relatos {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713445808/assets/guaviare/carlos/loop-carlos_mb88u4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.carlos-relatos-audio {
  width: 100% !important;
  position: relative;
  margin-top: 55vh;
}
