.carlos-youtube{
    background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713230287/assets/guaviare/carlos/fondo-video_vvpvyc.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

