.cauca-intro {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1718575238/cauca/intro/Fotograma-Video-OK-INTRO-Cauca_con-sonido_dgv6bj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vw;
  width: 100vh;
  opacity: 0;
  animation: aparecer 1s ease-in 1s forwards;
}

.cauca-video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: aparecer 0.4s ease-in forwards;

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 1;
  }
}

.cauca-sol {
  height: 12vh;
  display: flex;
  justify-content: left;
  align-items: self-end;

  img {
    width: 20%;
    max-width: 70px;
    transform: translate(-6vw, 0);
  }
}

.cauca-sol-desaparecer {
  animation: desaparecerTxt 2s ease-in forwards;
}


.cauca-titulo {
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: self-end;
  opacity: 0;
  animation: aparecer 2s ease-in forwards;

  h1 {
    color: #00A498;
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  .cauca-titulo {
   
  }
}

.cauca-descripcion {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;

  h2 {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    opacity: 0;
    animation: aparecer 3s ease-in-out 3s forwards;
  }

  img {
    width: 40%;
    border: 0px;
    margin-top: 2vh;
    opacity: 0;
    animation: aparecer-linea 4s ease-in-out 1s forwards;
  }
}

.cauca-descripcion-luna{   
  position: absolute;
  margin-top: 0;
  top: -15%;
  right: 10%;
  width: 13% !important;
  max-width: 50px !important;  
  animation: none; 
}

.cauca-descripcion-p-contenedor {
  position: relative;
  height: 22vh;
  width: 95%;
  opacity: 0;
  animation: aparecer 2s ease-in-out 4s forwards;

  p {
    position: absolute;
    text-align: left;
    margin-top: 2vh;
    opacity: 0;
  }
}

@media screen and (orientation: portrait) {
  .cauca-descripcion-p-contenedor {
    height: 25vh;
  }
}

.cauca-intro-p-aparecer {
  animation: aparecerTxt 3s ease-in 1s forwards;
}

.cauca-intro-p-desaparecer {
  animation: desaparecerTxt 1s ease-in forwards;
}

.cauca-intro-siguiente {
  text-align: right;
  opacity: 0;
  animation: aparecer 2s ease-in 2s forwards;

  img {
    cursor: pointer;
    width: 40px;
    transform: translate(-8vw, 0);
  }
}

.cauca-intro-inciar {
  text-align: center;
  opacity: 0;

  img {
    cursor: pointer;
    width: 180px;
  }
}

.cauca-inciar-aparecer {
  animation: aparecerTxt 4s ease-in 3s forwards;
}

.cauca-intro-scroll {
  position: absolute;
  bottom: 0vh;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: aparecer 4s ease-in 10s forwards;
  img {
    width: 200px !important;
  }
}

@media screen and (orientation: portrait) {
  .cauca-intro-scroll {
    bottom: 0vh;
  }
}
