.elias-relatos{
    background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713446960/assets/guaviare/elias/loop-elias_vkbytz.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: aparecer 6s;

    h3{
        margin-top: 65vh;
    }
}

@media screen and (orientation: portrait) {
    .elias-relatos-frase{
        transform: translate(0, -25px);
    }    
}