.elias-relatos{
    background-color: black;
    animation: aparecer 6s;

    h3{
        margin-top: 65vh;
    }
}

@media screen and (orientation: portrait) {
    .elias-relatos-frase{
        transform: translate(0, -25px);
    }    
}