.elias-youtube{
    background: url("../../../assets/guaviare/elias/fondo-video.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

