.cimarrona-relatos-3 {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1717038186/cauca/cimarrona/G_Cimarrona_banca_nin%CC%83as_zzndyt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.cimarrona-relatos-3-grafica{
  width: 100% !important;
  position: relative;
  margin-top: 35vh;
  text-align: center;

  img{
    width: 60%;
    max-width: 240px;
  }
}

.cimarrona-relatos-audio-3 {
  width: 100% !important;
  position: relative;
  margin-top: 2vh;
}

@media screen and (orientation: landscape) {
  .cimarrona-relatos-audio-3 {
    margin-top: 10vh;
  }
}



