.cimarrona-relatos {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1717037178/cauca/cimarrona/Pompilio_y_otro_g5khxb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.cimarron-relatos-1-grafica {
  width: 100% !important;
  position: relative;
  margin-top: 45vh;
  text-align: center;

  img {
    width: 60%;
    max-width: 220px;
  }
}

.cimarrona-relatos-audio {
  width: 100% !important;
  position: relative;
  margin-top: 0vh;
}

@media screen and (orientation: landscape) {
  .cimarrona-relatos-audio {
    margin-top: 10vh;
  }
}
