.betancourt-relatos {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716386286/caqueta/betancourt/loop-betancourt_mnavav.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.betancourt-relatos-audio {
  width: 100% !important;
  position: relative;
  margin-top: 12vh;
}


.betancourt-relatos-img {
  width: 100% !important;
  position: relative;
  margin-top: 0vh;
  text-align: center;
  
 img{
  height: 40vh;
  max-width: 300px;
 }
}



