.guardianes-f4 {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713242761/assets/guaviare/guardianes/fondo-guardianes-f4_tphytr.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: fadeIn 4s;

  .guardianes-f4-interior{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
      width:80px;
      cursor: pointer;
    }
  
    .guardianes-f4-frase{
      margin-top: 10vh;
      text-align: center;

      h3{
        font-size: 1.1rem;
      }
    }
  }
}
