.guardia-relatos {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1716742401/cauca/guardia/Guardias_caminando_m57hq7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.guardia-relatos-grafica{
  width:100%;
  text-align: center;
  margin-top: 30vh;
  
  img{
    width: 60%;
    max-width: 300px;
  }
}

@media screen and (orientation: landscape) {
  .guardia-relatos-grafica{
    width:100%;
    text-align: center;
    margin-top: 42vh;
    
    img{
      width: 60%;
      max-width: 300px;
    }
  }
}

.guardia-relatos-audio {
  width: 100% !important;
  position: relative;
  margin-top: 3vh;
}




.guardia-relatos-frase {
  width: 100% !important;
  position: relative;
  margin-top: 33vh;
  padding: 0 0 0 45px;

  h3{
    text-align: left;
    width: 100%;
  }
}

@media screen and (orientation: portrait) {
  .guardia-relatos-frase {
    margin-top: 16vh;
    padding: 0 0 0 45px;

    h3{
      text-align: left;
      width: 100%;
    }
  }
}

