.guardia-youtube{
    background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1716743260/cauca/guardia/Armonizacio%CC%81n_guardia_indi%CC%81gena_ok_xcfawb.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;

    h3{
        transform: translate(0, 0vh);
    }
}

@media screen and (orientation: portrait) {
    .guardia-youtube{    
        h3{
            transform: translate(0, -5vh);
        }
    }

}

.guardia-youtube-ave{
    position: absolute;
    text-align: center;
    margin-top: 5vh;
    left:0;
    top:0;
    width: 100%;

    img{
        width: 40%;
        max-width: 180px;
    }
}

