.caleno-bio {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713838861/assets/caqueta/moyano/moyano_mexy7j.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  color: #fff;

  h2 {
    margin-top: 35vh;
    margin-bottom: 5px;
  }

  .info {
    text-align: left;
    position: relative;
    margin-top: 3vh;

    img {
      width: 50px;
      cursor: pointer;
    }
  }
}

.caleno-bio-frase {
  h3 {
    margin-top: 13vh;
    text-align: center;
  }
}
