.caleno-relatos {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716593019/caqueta/caleno/loop-caleno_dn0t4p.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.caleno-relatos-audio {
  width: 100% !important;
  position: relative;
  margin-top: 45vh;

  
}

@media screen and (orientation: landscape) {
  .caleno-relatos-audio {
    width: 100% !important;
    position: relative;
    margin-top: 65vh;

    div{
      margin-bottom: 5px;
    }
  }
}
