.caleno-youtube-2 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716267076/caqueta/caleno/caleno-youtube-2_gchuqy.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  h3 {
    transform: translate(0, -8vh);
  }
}

@media screen and (orientation: landscape) {
  .caleno-youtube-2 {
    h3 {
      transform: translate(0, 0vh);
    }
  }
}

.caleno-youtube-2-planta {
  position: absolute;
  text-align: center;
  margin-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;

  img {
    width: 27%;
    max-width: 140px;
  }
}
