.estigma-f2 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716267078/caqueta/estigma/youtube-estigma-1_xywtgl.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: fadeIn 4s;
}

.estigma-f2-interior {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.estigma-f2-img {
  text-align: center;

  img {
    width: 45%;
    max-width: 400px;
    transform: translate(0, -12vh);
  }
}

.estigma-f2-play {
  img {
    width: 120px;
    transform: translate(0, -10vh);
  }
}

.estigma-f2-frase {
  margin-top: -4vh;
  text-align: center;

  h3 {
    font-size: 1.1rem;
  }
}
