.cierre-relatos-cauca {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716593255/caqueta/cierre/video-cierre-caqueta_eyuvoc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.cierre-titulo-cauca {
  margin-top: 15vh;
  text-align: center;
  opacity: 0;
  animation: aparecer-desaparecer 10s ease-in 30s forwards;

  P{
    padding: 0 5%;
  }
}

@media screen and (orientation: portrait) {
  .cierre-titulo-cauca {
    margin-top: 25vh;  
    P{
      padding: 0 0%;
    }
  }
}

.cierre-logo-cauca{
  img{
    width: 70%;
    max-width: 300px;
  }
}

.cierre-extra-cauca {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  opacity: 0;
  visibility: hidden;

  animation: aparecer 10s ease-in 65s forwards;

  div {
    text-align: center;
  }
}

.cierre-extra-cauca-grafica{
  margin-top: 2vh;
  img{
    width: 30%;
    max-width: 180px;
  }
}

.cierre-extra-cauca-thumbnail{
  margin-top: 3vh;
  img{
    width: 40%;
    max-width: 300px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid rgb(235, 235, 235);
    padding: 8px;
  }

  h4{
    font-size: 1rem;
  }
}

@media screen and (orientation: portrait) {
  .cierre-extra-cauca-grafica{
    margin-top: 1vh;
    img{
      width: 35%;
      max-width: 180px;
    }
  }

  .cierre-extra-cauca-thumbnail{
    margin-top: 4vh;
  
    img{
      width: 50%;
      max-width: 300px;
    }

    h4{
      font-size: 0.8rem;
    }
  }

}

.youtube-animacion {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: black;
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713230337/assets/guaviare/cierre/animacion_iwn7lp.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 22;
  overflow: hidden;
}

.youtube-animacion-interior {
  position: relative;

  div:first-child {
    text-align: center;
    margin-top: 40vh;
    height: 10vh;

    p {
      font-size: 1rem;
    }

    img {
      width: 80px;
      cursor: pointer;
      transition: 0.5s;

      &&:hover {
        transform: scale(1.05);
      }
    }
  }

  div:nth-child(2) {
    text-align: center;
    margin-top: 8vh;

    h3 {
      text-align: center;
    }
  }
}

.youtube-animacion-interior-salida{
    position: absolute;
    right: 0;
    top:0;
    width: 60px;
    cursor: pointer;
}

.cierre-animacion-frase{
  max-width: 800px;
  padding: 0 5%;
} 

.cierre-continuar{

  position: absolute;
  left: 0;
  bottom: 0;
  height: 15vh;
  width: 100%;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .cierre-continuar{
    height: 25vh;
  }
}

