.inserto1 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716384843/caqueta/insertos/caqueta-inserto-1_kynsdf.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100vw;
  animation: aparecer 6s;
}

.inserto1-logo{
  width: 100%;
  text-align: center;
  margin-top: 6vh;

  img{
    width:70%;
    max-width: 320px;
  }
}

.inserto1-frase {
  width: 100% !important;
  padding: 0 0 0 45px;
  margin-top: 12vh;

  h3 {
    text-align: left;
    width: 100%;
  }

  h4 {
    text-align: right;
    margin-right: 40px;
  }
}

.inserto1-audio {
  width: 100% !important;
  position: relative;
  margin-top: 6vh;
}

@media screen and (orientation: portrait) {
  .inserto1-logo{
    width: 100%;
    text-align: center;
    margin-top: 3vh;
  
    img{
      width:70%;
    }
  }

  .inserto1-frase {
    padding: 0 0 0 45px;
    margin-top: 2vh;
  }

  .inserto1-audio {
    width: 100% !important;
    position: relative;
    margin-top: 4vh;
  }
}

.inserto2 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716392191/caqueta/insertos/caqueta-inserto-2_exbkvy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.inserto3 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716392191/caqueta/insertos/caqueta-inserto-3_pguqmw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.inserto-logo{
  width: 100%;
  text-align: center;
  margin-top: 12vh;

  img{
    width:70%;
    max-width: 320px;
  }
}

.inserto-audio {
  width: 100% !important;
  position: relative;
  margin-top: 3vh;
}

@media screen and (orientation: landscape) {
  .inserto-logo{
    width: 100%;
    text-align: center;
    margin-top: 34vh;
  
    img{
      width:70%;
      max-width: 320px;
    }
  }

  .inserto-audio {
    width: 100% !important;
    position: relative;
    margin-top: 3vh;
  }
}

.inserto3-logo{
  width: 100%;
  text-align: center;
  margin-top: 26vh;

  img{
    width:70%;
    max-width: 320px;
  }

  .inserto3-audio {
    width: 100% !important;
    position: relative;
    margin-top: 1vh;
  }
}

@media screen and (orientation: landscape) {
  .inserto3-logo{
    width: 100%;
    text-align: center;
    margin-top: 32vh;
  
    img{
      width:70%;
      max-width: 320px;
    }
  }

  .inserto3-audio {
    width: 100% !important;
    position: relative;
    margin-top: 3vh;
  }
}