.inserto1 {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713840375/assets/caqueta/moyano/loop-moyano_tvohoj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.inserto1-logo{
  width: 100%;
  text-align: center;
  margin-top: 10vh;

  img{
    width:70%;
  }
}

.inserto1-frase {
  width: 100% !important;
  position: relative;
  padding: 0 0 0 0vw;
  margin-top: 12vh;

  h3 {
    text-align: left;
    width: 100%;
  }

  h4 {
    text-align: right;
    margin-right: 40px;
  }
}

.inserto1-audio {
  width: 100% !important;
  position: relative;
  margin-top: 5vh;
}

@media screen and (orientation: portrait) {
  .inserto1-frase {
    padding: 0 0 0 12vw;
  }
}

.inserto2 {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713840375/assets/caqueta/moyano/loop-moyano_tvohoj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.inserto3 {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713840375/assets/caqueta/moyano/loop-moyano_tvohoj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.inserto-logo{
  width: 100%;
  text-align: center;
  margin-top: 25vh;

  img{
    width:70%;
  }
}

.inserto-audio {
  width: 100% !important;
  position: relative;
  margin-top: 5vh;
}
