.moyano-relatos {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713840375/assets/caqueta/moyano/loop-moyano_tvohoj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.moyano-relatos-audio {
  width: 100% !important;
  position: relative;
  margin-top: 30vh;
}


.moyano-relatos-frase {
  width: 100% !important;
  position: relative;
  margin-top: 16vh;
  padding: 0 0 0 0vw;

  h3{
    text-align: left;
    width: 100%;
  }
}

@media screen and (orientation: portrait) {
  .moyano-relatos-frase {
    padding: 0 0 0 12vw;
  }
}

