.paz-f3 {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713230368/assets/guaviare/paz/fondo-paz-f3_yzpwiw.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  animation: mymove 220s linear infinite alternate;
}

.paz-f3-ilustraciones {
  position: absolute;
  left: 0px;
  top: 10vh;
  cursor: pointer;
  z-index: 300;
  text-align: center;
  width: 100%;
  height: 30vh;
  opacity: 0;
  animation: aparecer 3s ease-in forwards;
}

.paz-f3-ave {
  width: 35%;
  transform: translate(0px, 10px);
}

.paz-f3-planta {
  transform: translate(-20px, 50px);
  width: 35%;
}

.paz-f3-interior {
  position: relative;
  width: 100%;
}

.paz-f3-audio-contenedor2 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 40vh;
  cursor: pointer;
  z-index: 300;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: aparecer 1s ease-in-out 1s forwards;
}
