.audio-contenedor {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #fff;
 
  }

  img {
    width: 40px;
    margin-right: 12px;
    cursor: pointer;
  }

  h4{
    text-align: right;
    margin-right: 80px;
  }

  canvas {
    margin: auto;
    width: 80%;
    height: 40px;
  }

  audio {
    visibility: hidden;
    display: none;
  }
}

.mostrar {
  visibility: visible;
}

.esconder {
  visibility: hidden;
}
