.ganaderia-f2 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716267077/caqueta/ganaderia/ganaderia-youtube-1_xssz9y.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: fadeIn 4s;
}

.ganaderia-f2-interior {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ganaderia-f2-img {
  text-align: center;

  img {
    width: 45%;
    max-width: 400px;
    transform: translate(0, -10vh);
  }
}

.ganaderia-f2-play {

  height: 120px;

  img {
    width: 120px;
  }
}

.ganaderia-f2-frase {
  margin-top: 13vh;
  text-align: center;
  width: 60%;

  h3 {
    text-align: center;
  }

  h4 {
    margin-top: 14px;
    text-align: right;
    transform: translate(5vw, 0);
  }
}
