.cierre-relatos {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713447233/assets/guaviare/cierre/loop-guaviare-cierre_ejt9fz.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.cierre-titulo-caqueta {
  margin-top: 10vh;
  text-align: center;
  opacity: 0;
  animation: aparecer-desaparecer 8s ease-in 3s forwards;
}

.cierre-logo-caqueta{
  img{
    width: 70%;
    max-width: 300px;
  }
}

.cierre-extra-caqueta {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  opacity: 0;
  visibility: hidden;

  /* animation: aparecer 8s ease-in 14s forwards; */
  animation: aparecer 1s ease-in 1s forwards;

  div {
    text-align: center;
  }
}

.cierre-extra-caqueta-grafica{
  margin-top: 5vh;
  img{
    width: 60%;
    max-width: 180px;
  }
}

.cierre-extra-caqueta-thumbnail{
  margin-top: 5vh;
  img{
    width: 80%;
    max-width: 300px;
  }
}

@media screen and (orientation: portrait) {
  .cierre-extra-caqueta-grafica{
    margin-top: 2vh;
    img{
      width: 35%;
      max-width: 180px;
    }
  }
  
  .cierre-extra-caqueta-thumbnail{
    margin-top: 2vh;
    img{
      width: 60%;
      max-width: 300px;
    }
  }

}

.youtube-animacion {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: black;
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713230337/assets/guaviare/cierre/animacion_iwn7lp.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 22;
  overflow: hidden;
}

.youtube-animacion-interior {
  position: relative;

  div:first-child {
    text-align: center;
    margin-top: 40vh;
    height: 10vh;

    p {
      font-size: 1rem;
    }

    img {
      width: 80px;
      cursor: pointer;
      transition: 0.5s;

      &&:hover {
        transform: scale(1.05);
      }
    }
  }

  div:nth-child(2) {
    text-align: center;
    margin-top: 8vh;

    h3 {
      text-align: center;
    }
  }
}

.youtube-animacion-interior-salida{
    position: absolute;
    right: 0;
    top:0;
    width: 60px;
    cursor: pointer;
}

.cierre-animacion-frase{
  max-width: 800px;
  padding: 0 5%;
} 

.cierre-continuar{

  position: absolute;
  left: 0;
  bottom: 0;
  height: 15vh;
  width: 100%;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .cierre-continuar{
    height: 25vh;
  }
}

