.campesina-relatos-2 {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1717036013/cauca/campesina/Guardias_y_esquejes_afa3sn.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.campesina-relatos-audio-2 {
  width: 100% !important;
  position: relative;
  margin-top: 56vh;
}

@media screen and (orientation: landscape) {
  .campesina-relatos-audio-2 {
    margin-top: 75vh;
  }
}
