.campesina-youtube-2 {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1717036350/cauca/campesina/Guardias_manguera_pk2jre.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  h3 {
    transform: translate(0, -8vh);
  }
}

@media screen and (orientation: landscape) {
  .campesina-youtube-2 {
    h3 {
      transform: translate(0, 3vh);
    }
  }
}

.campesina-youtube-2-planta {
  position: absolute;
  text-align: center;
  margin-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;

  img {
    width: 43%;
    max-width: 180px;
  }
}
