.campesina-youtube-2 {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1717036350/cauca/campesina/Guardias_manguera_pk2jre.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.campesina-youtube-2-grafica {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0px !important;
  transform: translate(0, -10vh);

  img {
    width: 22%;
    max-width: 50px;  
  }
}

.campesina-youtube-2-frase{
  h3{
    transform: translate(0, -12vh);
  }
}

@media screen and (orientation: landscape) {
  .campesina-youtube-2-grafica {
    transform: translate(0, 0vh);
  
    img {
      width: 22%;
      max-width: 120px; 
      transform: translate(0, -6vh); 
    }
  }
  
  .campesina-youtube-2-frase{
    h3{
      transform: translate(0, -6vh);
    }
  }

}
