.guaviare-intro {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713447733/assets/guaviare/home/loop-guaviare_do85ml.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: aparecer 1s ease-in forwards;
}

.guaviare-video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 1;
  }
}

.guaviare-video-play{
  position: absolute;
  left: 0px;
  top:0px;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  img{
    width: 120px;
    cursor: pointer;
  }
}

.guaviare-titulo {
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: self-end;
  animation: aparecer 2s; 

  h1 {
    color: rgb(208, 81, 55);
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  .guaviare-titulo {
    margin-top: 4vh;
  }
}

.guaviare-descripcion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;

  h2 {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    opacity: 0;
    animation: aparecer 3s ease-in-out 1s forwards;
  }

  hr {
    width: 40%;
    height: 6px;
    background-color: rgb(208, 81, 55);
    border: 0px;
    margin-top: 2vh;
    opacity: 0;
    animation: aparecer 3s ease-in-out 1s forwards;
  }

  img {
    width: 40%;
  }

  .guaviare-descripcion-p-contenedor {
    position: relative;
    height: 40vh;
    width: 95%;
    opacity: 0;
    animation: aparecer 2s ease-in-out 3s forwards;
  }

  p {
    position: absolute;
    text-align: left;
    margin-top: 2vh;
  }

  .guaviare-descripcion-p1 {
    visibility: hidden;
  }

  .guaviare-descripcion-p2 {
    visibility: hidden;
  }
}

.guaviare-intro-p1 {
  animation: aparecerTxt 4s;
}

.guaviare-intro-p1-des {
  animation: desaparecerTxt 1s forwards;
}

.guaviare-descripcion-grafica {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  display: flex;
  height: 40vh;
  justify-content: center;
  animation: aparecer 5s ease-in forwards;
}

.guaviare-descripcion-grafica-img {
  height: 15vh;
  width: 100%;
  position: relative;

  img {
    position: absolute;
    right: 0;
    width: 30%;
    max-width: 200px;
  }
}

.guaviare-intro-scroll {
  position: absolute;
  bottom: 0vh;
  text-align: center;
  width: 100%;
  img {
    width: 200px !important;
  }
}

@media screen and (orientation: portrait) {
  .guaviare-intro-scroll {
    bottom: 10vh;
  }
}
