.guaviare-intro {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713447733/assets/guaviare/home/loop-guaviare_do85ml.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vw;
  width: 100vh;
  opacity: 0;
  animation: aparecer 1s ease-in 1s forwards;
}

.guaviare-video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: aparecer 0.4s ease-in forwards;

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 1;
  }
}

.guaviare-titulo {
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: self-end;
  opacity: 0;
  animation: aparecer 2s ease-in forwards;

  h1 {
    color: #c9532f;
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  .guaviare-titulo {
    margin-top: 4vh;
  }
}

.guaviare-descripcion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;

  h2 {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    opacity: 0;
    animation: aparecer 3s ease-in-out 3s forwards;
  }

  img {
    width: 40%;
    border: 0px;
    margin-top: 2vh;
    opacity: 0;
    animation: aparecer-linea 4s ease-in-out 1s forwards;
  }
}

.guaviare-descripcion-p-contenedor {
  position: relative;
  height: 22vh;
  width: 95%;
  opacity: 0;
  animation: aparecer 2s ease-in-out 4s forwards;

  p {
    position: absolute;
    text-align: left;
    margin-top: 2vh;
    opacity: 0;
  }
}

@media screen and (orientation: portrait) {
  .guaviare-descripcion-p-contenedor {
    height: 25vh;
  }
}

.guaviare-intro-p-aparecer {
  animation: aparecerTxt 4s ease-in 3s forwards;
}

.guaviare-intro-p-desaparecer {
  animation: desaparecerTxt 2s ease-in forwards;
}

.guaviare-intro-siguiente {
  text-align: right;
  opacity: 0;
  animation: aparecer 2s ease-in 4s forwards;

  img {
    cursor: pointer;
    width: 40px;
    transform: translate(-8vw, 0);
  }
}

.guaviare-intro-inciar {
  text-align: center;
  opacity: 0;

  img {
    cursor: pointer;
    width: 180px;
  }
}

.guaviare-inciar-aparecer {
  animation: aparecerTxt 4s ease-in 6s forwards;
}

.guaviare-intro-scroll {
  position: absolute;
  bottom: 0vh;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: aparecer 4s ease-in 10s forwards;
  img {
    width: 200px !important;
  }
}

@media screen and (orientation: portrait) {
  .guaviare-intro-scroll {
    bottom: 0vh;
  }
}
