.agroecologia-f5 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716477150/caqueta/agroecologia/fotograma-loop-finca_uqeuks.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  animation: mymove 120s linear infinite alternate;
}

.agroecologia-f5-video {
  position: absolute;
  z-index: 5;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 1;
  }
}

.agroecologia-f5-ilustraciones {
  position: absolute;
  left: 0px;
  top: 22vh;
  cursor: pointer;
  z-index: 300;
  text-align: center;
  width: 100%;
  height: 20vh;
  opacity: 0;
  animation: aparecer 3s ease-in forwards;
}

.agroecologia-f5-grafica{
  width: 50%;
  max-width:180px;
}


.agroecologia-f5-interior {
  position: relative;
  width: 100%;
}


.agroecologia-f5-audio-contenedor2 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 50vh;
  cursor: pointer;
  z-index: 300;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: aparecer 1s ease-in-out 2s forwards;
}
