.agroecologia-f2 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716474265/caqueta/agroecologia/Foto_Yolanda_huerta_b3klnh.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: fadeIn 4s;
}

.agroecologia-f2-interior {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.agroecologia-f2-img{
  text-align: center;

  img{
    width:45%;
    max-width: 400px;
    transform: translate(0, -10vh);
  }
}

.agroecologia-f2-play{
  height: 120px;

  img{
    width:120px;
  }
}

.agroecologia-f2-frase {
  margin-top: 8vh;
  text-align: center;
}
