.agroecologia-f4 {
  background: url("https://res.cloudinary.com/dhz9jfn78/image/upload/v1716476409/caqueta/agroecologia/Fotograma_Biodigestor_gk1zgd.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: fadeIn 4s;
}

.agroecologia-f4-interior {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.agroecologia-f4-img {
  text-align: center;

  img {
    width: 58%;
    max-width: 400px;
    transform: translate(0, -10vh);
  }
}

@media screen and (orientation: portrait) {
  .agroecologia-f4-img {
    text-align: center;

    img {
      width: 58%;
      max-width: 400px;
      transform: translate(0, -2vh);
    }
  }
}

.agroecologia-f4-play {
  img {
    width: 120px;
  }
}

.agroecologia-f4-frase {
  margin-top: 11vh;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .agroecologia-f3-ilustraciones {
    top: 33vh;
  }
}
