.menu-hamburguesa{
  position: fixed;
  right: 0;
  top:0;
  z-index: 110 !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;

  img{
    width:100%;
    cursor: pointer;
  }
}
.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100 !important;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  visibility: visible;
  color:#fff;

  ul {
    width: 100vw;
    height: 100vh;
    padding: 25vh 0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    li {
      list-style: none;
      text-align: center;

      a {
        text-decoration: none;
        color:#fff;
      }
    }
  }
}

.mask-general {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.contenido-general {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 800px;
  padding: 0 10%;
  position: relative;
}

.video-bg-general {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 1;
  }
}

.ejeA {
  position: fixed;
  z-index: 20;
  top: 30vh;
  height: 40vh;
  width: 40px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    cursor: pointer;
  }
}

.ejeB {
  position: fixed;
  z-index: 20;
  top: 30vh;
  right: 0;
  height: 40vh;
  width: 40px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .ejeA {
    width: 25px;
  }

  .ejeB {
    width: 25px;
  }
}

.abajo {
  position: fixed;
  bottom: 2vh;
  width: 10vw;
  left: 45vw;
  z-index: 20;
  display: flex;
  justify-content: center;

  img {
    width: 40px;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aparecerTxt {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes desaparecerTxt {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -40px);
  }
}

@keyframes cambiarEscena {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeFoto {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
