.canal-b{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.canal-b-on{
    left:0;
}

.canal-b-off{
    left: 100vw;
}

.lineas-b {
  position: fixed;
  height: 100%;
  right:0px;
  top:0px;
  width: 10vw;
  z-index: 190;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 10px;
  opacity: 1;
}

.flecha-atras {
    position: absolute;
    width: 40px;
    height: 40px;
    overflow: hidden;
    left: 15vw;
    bottom: 15vh;
    text-align: center;
    background-color: transparent;
    border: 0;
    z-index: 320;
  
    img {
      height: 40px;
      cursor: pointer;
    }
  }
  
  .flecha-adelante {
    position: absolute;
    width: 40px;
    height: 40px;
    overflow: hidden;
    right: 15vw;
    bottom: 15vh;
    text-align: center;
    background-color: transparent;
    border: 0;
    z-index: 320;
  
    img {
      height: 40px;
      cursor: pointer;
    }
  }
  
  .flecha-adelante-inicio {
    position: absolute;
    width: 100vw;
    height: 40px;
    overflow: hidden;
    left: 0;
    bottom: 15vh;
    text-align: center;
    background-color: transparent;
    border: 0;
    z-index: 320;
  
    img {
      height: 40px;
      cursor: pointer;
    }
  }
  
  .seccion-b-abajo {
    position: absolute;
    bottom: 10vw;
    width: 100%;
    text-align: center;
    img{
      width:50px;
    }
  }
  