@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
  font-family: 'oldnews';
  src: url('./assets/fonts/OldNewspaperTypes.ttf') format('truetype');
}

@font-face {
  font-family: 'chinese';
  src: url('./assets/fonts/chinese.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; 
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #333;
  color:#fff;
}

h1 {
  font-size: 5.8rem;
  font-weight: 100;
  font-family: 'chinese', sans-serif;
  font-optical-sizing: auto;
}

@media screen and (min-width: 1300px) {
  h1 {
    font-size: 8.4rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-family: 'oldnews', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}

@media screen and (min-width: 1300px) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'oldnews', sans-serif;
  font-optical-sizing: auto;
}

@media screen and (min-width: 1300px) {
  h3 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1600px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'oldnews', sans-serif;
  font-optical-sizing: auto;
}

@media screen and (min-width: 1300px) {
  h4 {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1rem;
  color: #fff;
}

@media screen and (min-width: 1300px) {
  p {
    font-size: 1.3rem;
  }
}

pre{
  font-family: 'oldnews', sans-serif; 
  font-weight: normal;
}

audio{
  visibility: hidden;
}
