.mujer-f1 {
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: aparecer 1s ease-in forwards;
}

.mujer-f1-fondo {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1718105841/cauca/mujer/Portada-Mujeres_fotglf.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  animation: mymove 440s linear infinite alternate;
}

.mujer-f1-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.mujer-f1-titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 0 5%;
  margin-top: 8vh;

  h2 {
    text-align: left;
    width: 100%;
    color: #caf1fd;
    font-weight: 100;
    margin-bottom: 16px;
    font-size: 2.2rem;
  }

  hr {
    background-color: #caf1fd;
    height: 6px;
    width: 150px;
    border: none;
  }

  @media screen and (orientation: landscape) {
    h2 {
      font-size: 2.4rem;
      width: 60%;
    }
  }

  @media (min-width: 1600px) {
    h2 {
      font-size: 3.6rem;
      width: 100%;
    }
  }
}

.mujer-f1-centro {
  position: relative;
  width: 100%;
  text-align: right;

  img {
    width: 30%;
    transform: translate(-12vw, 0);
  }
}

@media screen and (orientation: landscape) {
  .mujer-f1-centro {
    img {
      width: 25%;
      transform: translate(-6vw, 0);
    }
  }
}

.mujer-f1-bottom {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 10vh;
  bottom: 17vh;

  img {
    width: 50%;
  }
}

@media screen and (orientation: portrait) {
  .mujer-f1-bottom {
    bottom: 20vh;

    img {
      width: 65%;
    }
  }
}

@keyframes mymove {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }
  50% {
    transform: scale(1.3, 1.3) translate(-50px, 40px);
  }
  100% {
    transform: scale(1.6, 1.6) translate(50px, -40px);
  }
}
