.mujer-f3 {
  background: url("https://res.cloudinary.com/dumlhmvts/image/upload/v1718107879/cauca/mujer/Fotograma_Loop_cogiendo_cafe%CC%81_p_fkfzdj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: fadeIn 4s forwards;
}

.mujer-f3-video {
  position: absolute;
  z-index: 5;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 1;
  }
}

.mujer-f3-interior {
  position: relative;
  width: 100%;
}

.mujer-f3-audio-contenedor1 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 60vh;
  cursor: pointer;
  z-index: 300;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: aparecer 3s ease-in-out 1s forwards;
}

@media screen and (orientation: portrait) {
  .mujer-f3-audio-contenedor1 {
    top: 54vh;
  }
}

