.guayabero-f1 {
  width: 100%;
  height: 100%;
  opacity:0;
  animation: aparecer 1s ease-in forwards;

  .guayabero-f1-fondo {
    background: url("../../../assets/guaviare/guayabero/fondo-guayabero.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    animation: guayaberoF1 90s linear infinite;
  }

  .guayabero-f1-top {
    height: 35vh;
    width: 100%;

    img:nth-child(1) {
      width: 50%;
      margin-top: 8vh;
      margin-left: 5vw;
      max-width: 200px;
    }

    img:nth-child(2) {
      width: 30%;
      transform: translate(-24px, 10px);
      max-width: 100px;
    }
  }

  .guayabero-f1-titulo {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 0 5%;

    h2 {
      text-align: left;
      width: 80%;
      color: #ef8538;
      font-size: 2.2rem;
      font-weight: 100;
      margin-bottom: 16px; 
    }

    hr {
      background-color: #ef8538;
      height: 6px;
      width: 50%;
      border: none;
    }

    @media screen and (orientation: landscape) {
      h2 {
        text-align: center;
        width: 70%;
        margin: auto;
        color: #ef8538;
        font-size: 2.5rem;
      }

      hr {
        background-color: #ef8538;
        height: 6px;
        width: 60%;
        border: none;
        margin: -20px auto 0;
      }
    }

  }

  .guayabero-f1-bottom {
    position: relative;
    height: 50vh;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .pez {
    width: 80%;
    max-width: 250px;
  }
}

@keyframes guayaberoF1 {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }
  50% {
    transform: scale(1.1, 1.1) translate(0px, 0px);
  }
  80% {
    transform: scale(1.2, 1.2) translate(10px, 10px);
  }
  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
