.guayabero-f3 {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713448422/assets/guaviare/guayabero/loop-guayabero_pqcskp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: fadeIn 4s forwards;
}

.guayabero-f3-video{
  position: absolute;
  z-index: 5;
  left: 0px;
  top:0px;
  width: 100vw;
  height: 100vh;

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 1;
  }
}

.guayabero-f3-lancha{
  position: absolute;
  left: 0px;
  top: 33vh;
  cursor: pointer;
  z-index: 300;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: aparecer 3s ease-in forwards;

  img{
    width:50vw;
    max-width:250px;
  }
}

.guayabero-f3-interior{
  position: relative;
  width: 100%;
}

.guayabero-f3-audio-contenedor1 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 10vh;
  cursor: pointer;
  z-index: 300;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: aparecer 3s ease-in-out 1s forwards;
}

.guayabero-f3-audio-contenedor2 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 55vh;
  cursor: pointer;
  z-index: 300;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: aparecer 1s ease-in-out 2s forwards;
}
