.guayabero-f2 {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713230403/assets/guaviare/guayabero/guayabero-fondo-video_pezpmb.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  animation: fadeIn 4s;

  .guayabero-f2-interior{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
      width:25%;
      min-width: 80px;
      max-width: 200px;
      cursor: pointer;
    }
  
    .guayabero-f2-frase{
      margin-top: 10vh;
  
      p{
        text-align: right;
        transform: translate(25px, 0);
      }
    }
  }
}
