.william-relatos {
  background: url("https://res.cloudinary.com/dbqfefibl/image/upload/v1713448996/assets/guaviare/william/loop-walliam_bivhy6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: aparecer 6s;
}

.william-relatos-audio {
  width: 100% !important;
  position: relative;
  margin-top: 55vh;
}
